<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" #email required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mot pass</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          color="danger"
          expand="block"
          (click)="logIn(email, password)"
          >Sign In</ion-button
        >
        <a [routerLink]="['/forgot-password']" class="small-text"
          >Forgot Password?</a
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
